<div id="search-component">
  <h4>Media Search</h4>

  <label>Search term: <input #searchBox id="search-box"/> </label>
  <button (click)="search(searchBox.value); searchBox.value=''"> search</button>

  <table class="mediaItem">
    <tr>
      <th *ngFor="let col of columns"> {{col}}</th>
    </tr>
    <tr *ngFor="let item of items$ | async">
      <td *ngFor="let col of columns"> {{item[col]}}</td>
    </tr>
  </table>
</div>
